step-functions/slow-mode-orchestrator.asl.json
{
  "Comment": "Coldbones slow-mode orchestrator: scale GPU, wait for health, process batch, notify, scale down",
  "StartAt": "CheckGpuCapacity",
  "TimeoutSeconds": 21600,
  "States": {

    "CheckGpuCapacity": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lifecycleFunctionArn",
        "Payload": {
          "action": "DESCRIBE_ASG",
          "asgName.$": "$.slowAsgName"
        }
      },
      "ResultPath": "$.gpuStatus",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "JobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NeedsScaleUp?"
    },

    "NeedsScaleUp?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.gpuStatus.Payload.desiredCapacity",
          "NumericGreaterThan": 0,
          "Next": "WaitForGpuBoot"
        }
      ],
      "Default": "ScaleUpGpu"
    },

    "ScaleUpGpu": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lifecycleFunctionArn",
        "Payload": {
          "action": "SCALE_UP",
          "asgName.$": "$.slowAsgName",
          "desiredCapacity": 1
        }
      },
      "ResultPath": "$.scaleUpResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "WaitForGpuBoot"
    },

    "WaitForGpuBoot": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckGpuHealth"
    },

    "CheckGpuHealth": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lifecycleFunctionArn",
        "Payload": {
          "action": "HEALTH_CHECK",
          "asgName.$": "$.slowAsgName"
        }
      },
      "ResultPath": "$.healthCheck",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HealthCheckFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GpuHealthy?"
    },

    "GpuHealthy?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.healthCheck.Payload.healthy",
          "BooleanEquals": true,
          "Next": "ProcessBatch"
        }
      ],
      "Default": "WaitRetry"
    },

    "WaitRetry": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckHealthRetryCount"
    },

    "CheckHealthRetryCount": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.healthRetries",
          "NumericGreaterThanEquals": 20,
          "Next": "GpuBootTimeout"
        }
      ],
      "Default": "IncrementHealthRetry"
    },

    "IncrementHealthRetry": {
      "Type": "Pass",
      "Parameters": {
        "healthRetries.$": "States.MathAdd($.healthRetries, 1)"
      },
      "ResultPath": "$.healthRetries",
      "Next": "CheckGpuHealth"
    },

    "HealthCheckFailed": {
      "Type": "Pass",
      "Parameters": {
        "healthRetries.$": "States.MathAdd($.healthRetries, 1)"
      },
      "ResultPath": "$.healthRetries",
      "Next": "WaitRetry"
    },

    "GpuBootTimeout": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.topicArn",
        "Message": {
          "type": "GPU_BOOT_TIMEOUT",
          "jobId.$": "$.jobId",
          "message": "GPU failed to become healthy after 10 minutes"
        },
        "Subject": "Coldbones: GPU Boot Timeout"
      },
      "Next": "JobFailed"
    },

    "ProcessBatch": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.batchProcessorFunctionArn",
        "Payload": {
          "jobId.$": "$.jobId",
          "s3Key.$": "$.s3Key",
          "bucket.$": "$.bucket",
          "mode": "slow",
          "fromStateMachine": true
        }
      },
      "ResultPath": "$.batchResult",
      "TimeoutSeconds": 600,
      "HeartbeatSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "NotifyJobFailed",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["States.HeartbeatTimeout"],
          "Next": "HandleSpotInterruption",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NotifyJobComplete"
    },

    "HandleSpotInterruption": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lifecycleFunctionArn",
        "Payload": {
          "action": "HANDLE_INTERRUPTION",
          "jobId.$": "$.jobId",
          "queueUrl.$": "$.queueUrl"
        }
      },
      "ResultPath": "$.interruptionResult",
      "Next": "RequeueAfterInterruption"
    },

    "RequeueAfterInterruption": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl.$": "$.queueUrl",
        "MessageBody": {
          "jobId.$": "$.jobId",
          "s3Key.$": "$.s3Key",
          "bucket.$": "$.bucket",
          "retryCount.$": "States.MathAdd($.retryCount, 1)"
        }
      },
      "ResultPath": "$.requeueResult",
      "Next": "JobFailed"
    },

    "NotifyJobComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.topicArn",
        "Message": {
          "type": "JOB_COMPLETE",
          "jobId.$": "$.jobId",
          "result.$": "$.batchResult.Payload"
        },
        "Subject": "Coldbones: Analysis Complete"
      },
      "ResultPath": "$.notifyResult",
      "Next": "MaybeScaleDown"
    },

    "NotifyJobFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.topicArn",
        "Message": {
          "type": "JOB_FAILED",
          "jobId.$": "$.jobId",
          "error.$": "$.error"
        },
        "Subject": "Coldbones: Analysis Failed"
      },
      "ResultPath": "$.notifyResult",
      "Next": "JobFailed"
    },

    "MaybeScaleDown": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lifecycleFunctionArn",
        "Payload": {
          "action": "CHECK_QUEUE_AND_SCALE",
          "asgName.$": "$.slowAsgName",
          "queueUrl.$": "$.queueUrl"
        }
      },
      "ResultPath": "$.scaleDownResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ],
      "Next": "JobComplete"
    },

    "JobComplete": {
      "Type": "Succeed"
    },

    "JobFailed": {
      "Type": "Fail",
      "Error": "BatchProcessingError",
      "Cause": "Job failed — check SNS notification for details"
    }
  }
}
